body{
    background: url('https://wallpaperaccess.com/full/1347969.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.header .navbar {
    background-color: transparent !important;
}